# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# macOS
.DS_Store

# Constructor installer output
CoCANoT-Pipelines-*.pkg

# Build directories
dist/

# Temporary
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Conda
conda-bld/

# Local test data
ANDREATEST/