# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# macOS
.DS_Store

# Constructor output
CoCANoT-Pipelines-0.1.0-MacOSX-arm64.pkg
CoCANoT-Pipelines-0.1.0-MacOSX-arm64.sh

# Build directories
dist/

# Temporary
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Conda
conda-bld/